// Colors 
$off-black:#20222b;
$off-white:#f7f7f7;
// #a5afd7;
$dark-blue:#333745;
$steel-blue:#364051;
$blue:#3c4251;
$light-blue:#464b5e;
$lite-blue:#1c88bf;
$purple:#8357c5;
$dark-grey:#333;
$grey:#666;

//font-size
$font-large: 1.8rem;
$font-small: 1.4rem;

// size
$m-size:1.6rem;
$s-size:1rem;
$l-size:3.2rem;
$xl-size:4.8rem;




$desktop-breakpoint : 45rem;
